{% extends "base.html" %}
{% block title %}Signin{% endblock %}
{% block content %}
  <h1>Signin</h1>
  <form method="POST" action="/signin">
      {{ form.csrf_token }}
      {{ form.username(class_='w3-input w3-round-large w3-margin-top w3-margin-bottom w3-mobile', placeholder='Username') }}
      {{ form.password(class_='w3-input w3-round-large w3-margin-top w3-margin-bottom w3-mobile', placeholder='Password') }}
      <input class="w3-btn w3-round-large w3-border" style="transition: 0.5s" type="submit" value="Signin">
  </form>
{% endblock %}