{% extends "base.html" %}
{% block title %}Signin{% endblock %}
{% block content %}
  <h1>Signup</h1>
  <form method="POST" action="/signup">
      {{ form.csrf_token }}
      {{ form.username.label }} {{ form.username(size=20) }}
      {{ form.password.label }} {{ form.password(size=20) }}
      {{ form.group.label }} {{ form.group(size=20) }}
      {{ form.first_name.label }} {{ form.first_name(size=20) }}
      {{ form.last_name.label }} {{ form.last_name(size=20) }}
      {{ form.age.label }} {{ form.age(size=20) }}
      {{ form.notes.label }} {{ form.notes(size=20) }}
      <input class="w3-btn w3-round-large w3-border" style="transition: 0.5s" type="submit" value="Signup">
  </form>
{% endblock %}