{% extends "base.html" %}
{% block title %}{{ course.name }}{% endblock %}
{% block head %}
<script>
  currentPage = 1;
  function prevPage() {
      currentPage --;
      updatePage(currentPage)
  }
  function nextPage() {
      currentPage ++;
      updatePage(currentPage)
  }
  function updatePage(pageNumber) {
      document.getElementById('page-num').innerText = pageNumber;
      // document.getElementById('page-name').innerText = pageName;
      document.getElementsByClassName('page-' + pageNumber.toString());
  }
</script>
{% endblock %}
{% block navbar %}
  <a class="w3-bar-item w3-btn w3-round-large w3-btn" style="transition: 0.5s; margin: 0.5em;" href="/courses">
    <span class="material-icons" style="font-size: 1em;">school</span>
    View All Courses
  </a>
{% endblock %}
{% block content %}
<h1>{{ course.name }}</h1>
{% set max_page = 0 %}
{% for i in range_len_materials %}
{% set material = materials[i] %}
<div class="w3-border w3-round-large w3-padding w3-margin-bottom page-{{ material.i + 1 }}" id="page-{{ material.i + 1 }}-{{ material.j + 1 }}">
  <!--page: {{ material.i + 1 }}-->
  <!--subpage: {{ material.j + 1 }}-->
  <!--datatype: {{ material.data_type }}-->
  {% if material.data_type == 'url' %}
  <iframe class="w3-round-large w3-card-4" w3-frameborder="0" src="{{ material.data }}" allowfullscreen>
    <div class="w3-panel w3-card-4 w3-margin-top w3-round-large w3-light-grey w3-leftbar w3-animate-opacity w3-border-red w3-center" style="transition: 0.5s; width: fit-content;">
      <p>
        <span class="material-icons">error</span>
        Please use a browser instance that supports and allows <span class="w3-codespan">iframe</span>s.
      </p>
    </div>
  </iframe>
  {% else %}
  <span class="w3-code">{{ material.data }}</span>
  {% endif %}
  {% set max_page = material.i + 1 %}
</div>
{% endfor %}
<div class="w3-bar w3-border w3-round-large" onload="disableButtonsFor5Secs();">
  <a href="#" class="w3-bar-item w3-button w3-left" id="prev-page" style="transition: 0.5s;" onclick="prevPage();">
    <span class="material-icons">arrow_back</span>
  </a>
  <span class="w3-bar-item w3-center">
    Page <span id="page-num">0</span>/{{ max_page }}<!-- - <span id="page-name">Loading...</span>-->
  </span>
  <a href="#" class="w3-bar-item w3-button w3-right" id="next-page" style="transition: 0.5s;" onclick="nextPage();">
    <span class="material-icons">arrow_forward</span>
  </a>
</div>
{% endblock %}