{% extends "base.html" %}
{% block content %}
  <div class="w3-container w3-card-4 w3-round-large" style="min-width: 20em;">
    <h1>Admin</h1>
    <div class="w3-container w3-border w3-round-large w3-margin">
      <h2>Users</h2>
      {% set users, code = admin.list_users() %}
      <div class="w3-responsive">
        <table class="w3-table w3-round-large w3-border w3-striped" style="overflow: auto; max-height: 100%;">
          <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>Age</th>
            <th>Notes</th>
            <th>User Name</th>
            <th>User UUID</th>
            <th>Group</th>
          </tr>
          {% for user in users %}
            <tr>
              <td><a href="/admin/edit/user?uuid={{ user['basic'][2] }}"><span style="font-size: 0.9em;" class="material-icons">create</span></a></td>
              <td>{{ user['firstname'] }} {{ user['lastname'] }}</td>
              <td class="w3-codespan notranslate">{{ user['age'] }}</td>
              <td>{{ user['notes'] }}</td>
              <td class="w3-codespan notranslate">{{ user['basic'][0] }}</td>
              <td class="w3-codespan notranslate">{{ user['basic'][2] }}</td>
              <td class="w3-codespan notranslate" >{{ user['basic'][3] }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
      {% if code != 0 %}
        <div class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-round-large">
          Unable to fetch list of users. Code {{ code }}.
        </div>
      {% endif %}
      <script>
        function toggleUsersRawData() {
          let x = document.getElementById("usersRawData");
          let y = document.getElementById("usersRawDataBtn");
          if (x.style.display === "none") {
            x.style.display = "block";
            y.innerText = "Hide Raw Data";
          } else {
            x.style.display = "none";
            y.innerText = "Show Raw Data";
          }
        }
      </script>
      <button class="w3-btn w3-round-large w3-padding-16 w3-margin w3-border" style="transition: 0.5s; width: 10em;" id="usersRawDataBtn" onclick="toggleUsersRawData();">
        Show Raw Data
      </button>
      <div class="w3-code notranslate" style="display: none;" id="usersRawData">
        {{ users }}
      </div>
    </div>
    <div class="w3-container w3-border w3-round-large w3-margin">
      <h2>Courses</h2>
      {% set courses, code = admin.list_courses() %}
      <div class="w3-responsive">
        <table class="w3-table w3-round-large w3-border w3-striped" style="overflow: auto; max-height: 100%;">
          <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>UUID</th>
            <th>Description</th>
            <th>Admin-only Notes</th>
          </tr>
          {% for course in courses %}
            <tr>
              <td><a href="/admin/edit/courses?uuid={{ course['uuid'] }}"><span style="font-size: 0.9em;" class="material-icons">create</span></a></td>
              <td>{{ course['name'] }}</td>
              <td class="w3-codespan notranslate">{{ course['uuid'] }}</td>
              <td>{{ course['desc'] }}</td>
              <td>{{ course['notes'] }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
      {% if code != 0 %}
        <div class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-round-large">
          Unable to fetch list of users. Code {{ code }}.
        </div>
      {% endif %}
      <script>
        function toggleCoursesRawData() {
          let x = document.getElementById("coursesRawData");
          let y = document.getElementById("coursesRawDataBtn");
          if (x.style.display === "none") {
            x.style.display = "block";
            y.innerText = "Hide Raw Data";
          } else {
            x.style.display = "none";
            y.innerText = "Show Raw Data";
          }
        }
      </script>
      <button class="w3-btn w3-round-large w3-padding-16 w3-margin w3-border" style="transition: 0.5s; width: 10em;" id="coursesRawDataBtn" onclick="toggleCoursesRawData();">
        Show Raw Data
      </button>
      <div class="w3-code notranslate" style="display: none;" id="coursesRawData">
        {{ courses }}
      </div>
    </div>
    <div class="w3-container w3-border w3-round-large w3-margin">
      <h2>Advanced</h2>
      <a class="w3-btn w3-round-large w3-red w3-padding-16 w3-margin w3-border" style="transition: 0.5s; width: 10em;" href="/admin/cmd?cmd=force-halt">
        Forcefully Halt
      </a>
    </div>
    <div class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-round-large">
      Remember to save the settings. The changes will be lost if not saved.
    </div>
  </div>
{% endblock %}