{% extends "admin/users/base.html" %}
{% block title %}Add/Edit/Remove User{% endblock %}
{% block content %}
  <h1>Add/Edit/Remove User</h1>
  <a href="/admin/users/choose?prev_url={{ prev_url.replace('/', '%2F') }}" class="w3-bar-item w3-btn w3-round-large" style="transition: 0.5s;">
    <span style="font-size: 0.9em;" class="material-icons">edit</span>
    Edit User
  </a>
  <a href="/admin/users/new?prev_url={{ prev_url.replace('/', '%2F') }}" class="w3-bar-item w3-btn w3-round-large" style="transition: 0.5s;">
    <span style="font-size: 0.9em;" class="material-icons">add</span>
    New User
  </a>
{% endblock %}