{% extends "base.html" %}
{% block content %}
  <div class="w3-container w3-card-4 w3-round-large" style="min-width: 20em;">
    <h1>Courses</h1>
    {% for key, value in data.items() %}
      <div class="w3-container w3-card-4 w3-round-large w3-margin">
        <h2>{{ value.name }}</h2>
        {% for i in value.lvl %}
          <a class="w3-btn w3-round-large w3-padding-16 w3-margin" style="transition: 0.5s; width: 10em;" href = "/courses/{{ key }}/{{ i }}">
            <h3>Level {{ i }}</h3>
          </a>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}