{% extends "base.html" %}
{% block title %}Error {{ code }}{% endblock %}
{% block content %}
  <div class="w3-container w3-card-4 w3-round-large w3-padding-16" style="min-width: 20em;">
    <h1>Error {{ code }}</h1>
    <p>{% if error != None %}{{ error }}{% else %}An error occurred while fetching the error message.{% endif %}</p>
    <a href="/" class="w3-btn w3-round-large" style="transition: 0.5s">Return to Home</a>
    <button onclick="location.reload();" class="w3-btn w3-round-large" style="transition: 0.5s">Retry</button>
    <button onclick="window.history.back();" class="w3-btn w3-round-large" style="transition: 0.5s">Go Back</button>
  </div>
{% endblock %}