{% extends "base.html" %}
{% block title %}{% if len(courses) == 1 %}{{ courses[0].shortrepr }}{% else %}Courses{% endif %}{% endblock %}
{% block content %}
<h1>{% if len(courses) == 1 %}{{ courses[0].shortrepr }}{% else %}Courses{% endif %}</h1>
{% if len(courses) == 1 %}
<a class="w3-bar-item w3-btn w3-round-large w3-border w3-margin w3-right" style="transition: 0.5s;" href="/course">
  <span class="material-icons" style="font-size: 1.0em;">school</span>
  View All Courses
</a>
{% endif %}
{% if len(courses) == 0 %}
<div class="w3-panel w3-card-4 w3-margin-top w3-round-large w3-light-grey w3-leftbar w3-animate-opacity w3-border-blue w3-center" style="transition: 0.5s; width: fit-content;">
  <p><span class="material-icons">info</span> Currently, you are not taking any courses.</p>
</div>
{% else %}
<ul class="w3-ul">
  {% for course in courses %}
  <li class="w3-bar">
    <div class="w3-bar-item">
      <div class="w3-bar-block">
        <span class="w3-bar-item">
          {{ course.name }}
        </span>
        <span class="w3-bar-item">
          <span class="w3-codespan">{{ course.course_uid }}</span>
        </span>
        {% if len(courses) == 1 %}
        <span class="w3-bar-item">
          {{ course.desc }}
        </span>
        {% if current_user.is_authenticated %}
        {% if 'admin' in current_user.group %}
        <span class="w3-bar-item">
          {{ course.notes }}
          <i style="font-size: 0.5em;">Only viewable by admins</i>
        </span>
        {% endif %}
        {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="w3-right">
    <a class="w3-bar-item w3-btn w3-round-large w3-margin w3-border" style="transition: 0.5s;" href="/courses?course_uid={{ course.course_uid }}">
      <span class="material-icons" style="font-size: 1.0em;">visibility</span>
      View
    </a>
    <a class="w3-bar-item w3-btn w3-round-large w3-margin w3-border" style="transition: 0.5s;" href="/courses/open?course_uid={{ course.course_uid }}">
      <span class="material-icons" style="font-size: 1.0em;">launch</span>
      Open
    </a>
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}